<header class="header">

  <img src="https://assets.pokemon.com/assets/cms2/img/misc/gus/buttons/logo-pokemon-79x45.png" alt="logo">

  <div
    class="button_burguer_container"
    [class.active_burguer] = "isNavMobileActive"
    (click)="toggleNavMobile()"
  >
    <div></div>
    <div></div>
    <div></div>
  </div>

  <nav
    class="navbar_mobile"
    [class.active] = "isNavMobileActive"
  >
    <ul>
      <li>
        <img src="../assets/pokeball.png" alt="album">
        <p>My album</p>
      </li>
      <li>
        <img src="../assets/avatar.png" alt="sheet">
        <p>Get Sheets</p>
      </li>
    </ul>
  </nav>
</header>
